* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navigation Bar */

.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 4px;
    margin-top: 14px;
}

.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-cart {
    text-decoration: none;
    color: #fff;
    background-color: #DB4437;
    padding: 10px 7px 6px 6px;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.clear-navbar .btn-cart {
    background-color: rgba(255, 255, 255, 0.25);
}

.clear-navbar.scrolled .btn-cart {
    background-color: #DB4437;
}

.btn-cart:hover {
    color: #fff;
    background-color: #DB4437;
}

.btn-myaccount:after {
    bottom: -6px;
    right: -6px;
}

.btn-myaccount:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    background-color: #38b653;
    bottom: 0;
    right: 0;
    display: block;
    border: 2px solid #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.clear-navbar .img-profile,
.solid-navbar .img-profile {
  height: 36px;
  width: 36px;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.clear-navbar {
    transition:500ms ease;
    background:transparent;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.clear-navbar .nav-item a {
    color: #fff!important;
}

.solid-navbar {
    background-color: #FED800;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.solid-navbar .nav-item a {
    color: #000!important;
}

.clear-navbar .navbar-brand {
    font-family: 'Norican', cursive;
    color: #fff!important;
    font-size: 24px;
}

.solid-navbar .navbar-brand {
    font-family: 'Norican', cursive;
    color: #000!important;
    font-size: 24px;
}

.clear-navbar.scrolled .navbar-brand {
    font-family: 'Norican', cursive;
    color: #000!important;
}

.clear-navbar.scrolled .nav-item a {
    color: #000!important;
}

.clear-navbar.scrolled {
    background:#FED800;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.navbar .current a {
    border-bottom: 3px solid #DB4437 !important;
}

.navbar .nav-item a {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.navbar .nav-item a:hover {
    border-bottom: 3px solid #DB4437 !important;
}

.clear-navbar.scrolled .btn-addlisting:hover {
    background-color: #661349;
    color: #fff;
}

.clear-navbar.scrolled .btn-login:hover {
    background-color: #df6000;
    color: #fff;
}

.clear-navbar .btn-addlisting {
    background: rgba(255,255,255,0.15);
    color: #fff;
    border: none;
    border-radius: 50px;
}

.clear-navbar .btn-login {
    background: rgba(255,255,255,0.15);
    color: #fff;
    border: none;
    border-radius: 50px;
}

.clear-navbar .btn-logout {
    background: rgba(255,255,255,0.15);
    color: #fff;
    border: none;
    border-radius: 50px;
}

.clear-navbar .btn-addlisting:hover {
    background-color: #811D5E;
    color: #fff;
}

.clear-navbar .btn-login:hover {
    background-color: #FF6F01;
    color: #fff;
}

.clear-navbar .btn-logout:hover {
    background-color: #DB4437;
    color: #fff;
}

.clear-navbar.scrolled .btn-addlisting {
    color: #fff;
    background: #811D5E;
    border-radius: 50px;
}

.clear-navbar.scrolled .btn-login {
    color: #fff;
    background: #FF6F01;
    border-radius: 50px;
}

.solid-navbar .btn-addlisting {
    color: #fff;
    background-color: #811D5E;
    border-radius: 50px;
}

.solid-navbar .btn-login {
    color: #fff;
    background-color: #FF6F01;
    border-radius: 50px;
}

.solid-navbar .btn-addlisting:hover {
    background-color: #661349;
    color: #fff;
}

.solid-navbar .btn-login:hover {
    background-color: #df6000;
    color: #fff;
}

.btn-addlisting {
    margin-left: 15px;
}

.navbar-mobile-buttons {
    display: none;
}

@media only screen and (max-width: 991px) {

    .clear-navbar .btn-cart {
        background-color: #DB4437;
    }

    .navbar .current a {
        border-bottom: none !important;
    }
    
    .navbar .nav-item a {
        border-bottom: none !important;
    }
    
    .navbar .nav-item a:hover {
        border-bottom: none !important;
    }
    
    .clear-navbar .btn-addlisting {
        background-color: #811D5E;
        color: #fff;
    }
    
    .clear-navbar .btn-login {
        background-color: #FF6F01;
        color: #fff;
    }

    .navbar .btn {
        border-radius: 5px!important;
    }

    .clear-navbar .btn-addlisting:hover {
        background-color: #661349;
        color: #fff;
    }
    
    .clear-navbar .btn-login:hover {
        background-color: #df6000;
        color: #fff;
    }

    .navbar {
        display: inline-block!important;
    }

    .navbar-mobile-buttons {
        float: right;
        display: block;
    }

    .navbar-buttons {
        display: none;
    }

    .navbar-brand {
        display: none!important;
    }

    .btn-myaccount:after {
        position: relative;
        bottom: 12px;
        right: -22px;
    }

    .btn-myaccount {
        padding-left: 0!important;
        color: #000!important;
        padding-top: 12px;
    }

    .user-dropdown-menu {
        position: absolute;
        right: -5px;
        left: auto;
        top: 50px;
    }

    .cart-dropdown {
        position: absolute;
        right: -5px;
        left: auto;
        top: 50px;
    }

    .dropdown {
        height: 36px;
    }

    .btn-login {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .btn-addlisting {
        margin-left: 0px;
        border-radius: 5px;
    }

    .clear-navbar {
        background-color: #FED800;
    }

    .clear-navbar .nav-item a {
        color: #000!important;
    }
    
    .clear-navbar .navbar-brand {
        color: #000!important;
    }

    .clear-navbar .current a {
        border-bottom: none!important;
    }

    .solid-navbar .current a {
        border-bottom: none!important;
    }
    
    .clear-navbar .nav-link:hover {
        border-bottom: none!important;
    }

}

/* End of Navigation Bar */

/* Forms */

.error-message p {
    background-color: #bb2124; 
    padding: 10px 0 10px 0;
    color: white;
}

.success-message p {
    background-color: #12a812; 
    padding: 10px 0 10px 0;
    color: white;
}

.image-preview {
    width: 100%;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.events-search-form {
    border: solid #e7e4e4 1px;
    padding: 20px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.events-search-form .form-group {
    margin-bottom: 0;
}

.form-prompt {
    margin-top: 10px;
}

.registration-form .form-row {
    padding: 0px;
}

.btn-submit {
    background-color: #FF6F01;
    color: #fff;
    border: none;
}

.btn-submit:hover {
    background-color: #e36200;
    color: #fff;
}

.login-form {
    margin-top: 112px;
    border: solid 1px #dad7d7;
}

.registration-form {
    margin-top: 112px;
    margin-bottom: 56px;
    border: solid 1px #dad7d7;
}

.masthead-home .form-row {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;   
}

.masthead-home .form-group {
    margin-bottom: 0rem;
}

.form-search-wrap .form-control {
    height: 43px;
    border-radius: 0;
}

.form-search-wrap .form-control:active, .form-search-wrap .form-control:focus {
    border-color: #00918e;
}

.form-search-wrap .form-control:hover, .form-search-wrap .form-control:active, .form-search-wrap .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.form-search-wrap {
    background: #fff;
    padding: 10px !important;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2); 
}

.search .form-search-wrap {
    border: 1px solid #d3d2d2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search .form-search-wrap .input {
    border-right: 1px solid #d3d2d2!important;
}

.form-search-wrap .form-control {
    border: none; 
}

.form-search-wrap .btn {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #FF6F01;
    border: none;
}

.form-search-wrap .btn:hover {
    background-color: #E36200;
}

.search-field {
    padding: 10px;
}

@media only screen and (max-width: 991px) {

    .search .form-search-wrap .form-control{
        border: 1px solid #d3d2d2;
    }

    .search .form-search-wrap {
        border: none;
    }

    .login-form {
        margin-top: 56px;
    }
    
    .registration-form {
        margin-top: 56px;
    }

    .search .form-search-wrap .input {
        border-right: 0px!important;
    }

    .form-search-wrap {
        background: none; 
        padding: 0!important;
    }
    
    .form-search-wrap .border-right {
        border: 0!important;
    }
    
    .form-search-wrap .input {
        margin-bottom: 10px;
    }
    
    .form-search-wrap .input input {
        border-radius: 5px;
    }
    
    .form-search-wrap .input select {
        border-radius: 5px;
    }

    .form-search-wrap .btn {
        border-radius: 5px;
        padding: 10px 30px;
        background-color: #FF6F01;
        border: none;
        width: 100%;
    }

    .events-search-form .input {
        margin-bottom: 17px;
    }

}

@media only screen and (max-width: 767px) {
    .registration-form {
        margin-bottom: 0!important;
    }
}

@media only screen and (max-width: 337px) {

    .social-login a {
        margin-top: 5px;
    }

}

/* End of Forms */

/* Buttons */

.btn-myaccount {
    color: #fff;
}

.btn-myaccount:hover {
    color: #fff;
}

.btn-read-more {
    background-color: #FF6F01;
    color: #fff;
}

.btn-read-more:hover {
    background-color: #e36200;
    color: #fff;
}

.btn-submit-comment {
    background-color: #FF6F01;
    color: #fff;
}

.btn-submit-comment:hover {
    background-color: #e36200;
    color: #fff;
}

.btn-search {
    background: #FF6F01;
    border: none;
    color: #fff;
    height: 38px;
}

.btn-search:hover {
    background: #E36200;
    cursor: pointer;
    color: #fff;
    border: none;
}

.btn-search {
    width: 100%;
}

/* End of Buttons */

/* Categories, Tags and Bookmarks */

.category-tags {
    margin-top: 20px;
}

.category-tags a {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	padding: 6px 15px 3px;
	border-radius: 50px;
	margin-right: 6px;
    margin-bottom: 10px;
    text-decoration: none;
}

.category-tags a:hover {
	color: #fff;
	background: #811D5E;
}

.listing-category {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.listing-item-small .listing-category {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
}

.category span {
    box-shadow: none;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 6px 15px 6px;
    border-radius: 50px;
    text-decoration: none;
    background-color: #811D5E;
}

.blog-item-category {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.bookmark {
    position: absolute;
    right: 20px;
    bottom: 20px;    
    z-index: 101;
}

.bookmark a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 13px 6px 6px 6px;
    border-radius: 50%;
    font-size: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.bookmark a:hover {
    background-color: #d13628;
}

.blog-tags span {
    font-weight: bold;
    margin-right: 5px;
}

.blog-tags a {
	font-size: 12px;
	color: #a8a8a8;
	font-weight: 700;
	display: inline-block;
	background: #f2f2f2;
    padding: 6px 12px 6px;
    border-radius: 50px;
	margin-right: 6px;
    margin-bottom: 10px;
    text-decoration: none;
}

.blog-tags a:hover {
	color: #fff;
	background: #811D5E;
}

/* End of Catergories, Tags and Bookmarks */

/* Headers */

.masthead-home {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/city-scape-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header-text {
    color: #fff;
}

.header-text h1 {
    font-size: 44px;
    font-weight: 500;
}

.header-text p {
    font-size: 20px;
    font-weight: 400px;
}

.typed-words {
    color: #d13628;
}

@media only screen and (max-width: 767px) {

    .masthead-home .form-group .input-group {
        margin-bottom: 1rem;
    }

}

@media only screen and (max-width: 540px) {

    .header-text {
        margin-top: 65px;
    }

}

/* End of Headers */

/* Social Media Buttons */

.footer-social-icons {
    letter-spacing: 5px;
}

.share-social-icons {
    text-align: right;
}

.share-social-icons span {
    font-weight: bold;
}

.share-social-icons a {
    text-decoration: none;
    padding: 6px 6px 6px;
    border-radius: 50px;
    margin-right: 5px;
    color: #fff;
}

.share-social-icons .facebook {
    background-color: #3B5998;
}

.share-social-icons .facebook:hover {
    background-color: #2a4580;
}

.share-social-icons .twitter {
    background-color: #55ACEE;
}

.share-social-icons .twitter:hover {
    background-color: #3c84bb;
}

.share-social-icons .link {
    background-color: #585858;
}

.share-social-icons .link:hover {
    background-color: #414040;
}

.social-links-container {
    margin: 25px 0 0 0;
    display: block;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: block;
}

.social-links li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.social-links li a {
    background: #f2f2f2;
    color: #555;
    font-weight: 500;
    font-size: 13px;
    padding: 8px 14px;
    transition: 0.3s;
    display: inline-block;
    line-height: 17px;
    font-weight: 500;
    position: relative;
}

.social-login a {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
}

.social-login a.facebook {
    color: #fff;
    background: #3b5998;
}

.social-login a.google {
    color: #fff;
    background: #DB4437;
}

.social-login a.twitter {
    color: #fff;
    background: #1da1f2;
}

.social-links a.social-links-fb {
    color: #fff;
    background: #3b5998;
}

.social-links a.social-links-yt {
    color: #fff;
    background: #f00125;
}

.social-links a.social-links-ig {
    color: #fff;
    background: #e1306c;
}

.social-links a.social-links-tt {
    color: #fff;
    background: #1da1f2;
}

.social-links a.social-links-gg {
    color: #fff;
    background: #DB4437;
}

@media only screen and (max-width: 991px) {

    .social-links li {
        margin-top: 10px;
    }    

}

@media only screen and (max-width: 767px) {

    .share-social-icons {
        text-align: left;
    }

    .share-social-icons {
        margin-top: 10px;
    }

}

/* End of Social Media Buttons */

/* Home Page */

.latest-blog-posts {
    margin-top: 24px;
}

.top-businesses-tab {
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;
    margin-top: 24px;
}

.top-businesses-tab .nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.top-businesses-tab .nav-tabs {
	border-bottom: none;
}

.top-businesses-tab .nav-tabs .nav-item {
	margin-bottom: 0;
	margin-right: 20px;
}

.top-businesses-tab .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.top-businesses-tab .nav-tabs .nav-link {
	font-size: 15px;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
	position: relative;
}

.top-businesses-tab .nav-tabs .nav-link.active {
    color: #DB4437!important;
    border-bottom: 1px solid #DB4437;
    bottom: -1px;
}

.top-businesses-tab .nav-tabs .nav-link:hover {
    color: #DB4437!important;
    border-bottom: 1px solid #DB4437;
    bottom: -1px;
}

.top-businesses-tab .nav-tabs .nav-link.active:after {
	opacity: 1;
}

.top-businesses-tab .nav-tabs .nav-link span {
	margin-right: 3px;
}

@media only screen and (max-width: 991px) {

    .top-businesses {
        margin-top: 56px;
    }

}

@media only screen and (max-width: 575px) {

    .top-businesses-tab .nav-tabs .nav-item {
        margin-right: 0;
        text-align: left;
    }

} 

/* End of Home Page */

/* Blog Page */

.blog-post-pic {
	height: 400px;
	position: relative;
	display: flex;
}

.search-widget {
    margin-bottom: 30px;
}

.blog-section-title-row {
    margin-bottom: 20px;
}

.categories-widget {
    margin-bottom: 30px;
}

.tags-widget {
    margin-bottom: 30px;
}

.blog-enteries-column {
    margin-top: 124px;
}

.sidebar-widgets-column {
    margin-top: 124px;
}

.blog-item-large-pic {
	height: 300px;
	position: relative;
	display: flex;
}

.blog-item-pic {
	height: 265px;
	position: relative;
	display: flex;
}

.blog-item h2 {
    font-size: 24px;
}

.blog-item p {
    text-align: justify;
}

.read-more-link {
    text-decoration: none!important;
}

.read-more-link i {
    font-size: 20px;
    position: relative;
    padding-left: 4px;
    top: 1px;
}

.author-pic {
    text-align: center;
    margin: auto;
    float: left;
    margin-right: 20px;
}

.author-pic img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 7px 5px 5px 5px;
}

.author-info span {
    display: block;
    margin-bottom: 5px;
}

.author-name {
    font-size: 18px;
    font-weight: 700;
}

.author-bio {
    text-align: justify;
}

.about-author {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: solid #e7e4e4 1px;
}

.blog-item-date {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 6px 15px 6px;;
    background: #FF6F01;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.blog-item-date span {
    display: block;
}

.blog-item-date .month {
    text-transform:uppercase;
}

.blog-item-date .day {
    font-size:25px; 
    font-weight:700;
}

.blog-post-info {
    margin-bottom: 20px;
}

.blog-post-info h1 {
    font-weight: 700;
}

.blog-post-info span {
    margin-right: 8px;
}

.blog-info-row {
    margin-bottom: 25px;
}

.blog-section-title-row .section-title h2 {
    text-align: left;
}

.blog-section-title-row .section-title p {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.blog-section-title-row .section-title::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #DB4437;
    left: 15px;
    right: 0;
    bottom: 0;
    top: initial;
    margin: 0 !important;
}

.categories-widget ul {
    list-style: none;
    margin-bottom: 0;
}

.categories-widget ul li {
    border-bottom: solid 1px #dad7d7;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.categories-widget ul li a {
    text-decoration: none;
    color: #000;
}

.categories-widget ul li a:hover {
    color: #db1897;
}

.comment-form-wrap {
    clear: both; 
}
  
.comment-list {
    padding: 0;
    margin: 0; 
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%; 
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none; 
}
      
.comment-list li .vcard {
    width: 80px;
    float: left; 
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%; 
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px); 
}

.comment-list li .comment-body h3 {
    font-size: 20px; 
}
        
.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc; 
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000;
    text-transform: uppercase;
    font-size: 14px; 
}

.comment-list li .comment-body .reply:hover {
    color: #000;
    background: #e3e3e3; 
}

@media only screen and (max-width: 991px) {

    .blog-post h2 {
        font-size: 24px !important;
        font-weight: 700 !important;
    }

    .blog-enteries-column {
        margin-top: 87px !important;
    }

    .sidebar-widgets-column {
        margin-top: 0px !important;
    }

}

@media only screen and (max-width: 767px) {

    .about-author {
        margin-top: 16px !important;
    }

    .author-pic {
        float: none!important;
        margin-bottom: 20px !important;
        margin-right: 0;
    }

    .author-name {
        text-align: center;
    }

    .author-posts {
        text-align: center;
    }

    .author-bio {
        text-align: center !important;
    }

}

@media only screen and (max-width: 575px) {

    .blog-post-info span {
        display: block;
    }

}

/* End of Blog Page */

/* Sections and Containers */

.listings-container {
    padding-top: 10px;
}

.content-container {
    margin-top: 93px;
}

.section-title h2 {
    text-align: center;
}

.section-title span {
    font-weight: 700!important;
    font-size: 24px;
    margin-bottom: 18px;   
}

.page-section-container {
    margin-top: 8px;
    border-bottom: 1px solid #eaeaea;
}

.section-title p {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #DB4437;
    left: 0;
    right: 0;
    bottom: 0;
    top: initial;
    margin: 0 auto;
}

.page-section {
	margin-top: 124px;
}

.home-page-section {
	margin-top: 56px;
}

.page-section-no-banner {
	margin-top: 112px;
	border-radius: 5px;
}

@media only screen and (max-width: 991px) {

    .page-section-top {
        margin-top: 112px;
    }
    
    .home-page-section {
        margin-top: 0px;
    }

    .page-section-side {
		margin-top: 56px;
	}

}

@media only screen and (max-width: 575px) {

    .page-section {
		border-radius: 0px;
    }

}

/* End of Sections and Containers */

/* Listing Item */

.listing-badge {
    float: left;
    position: absolute;
    transform: rotate(45deg);
    right: -64px;
    top: 22px;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    z-index: 109;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
}

.listing-badge.open {
    background-color: #54ba1d;
}

.listing-badge.closed {
    background-color: #DB4437;
}

.listing-item-small .listing-details {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    padding-right: 70px;
    z-index: 50;
}

.listing-item {
    overflow: hidden;
    transition: transform 0.4s;
}

.listing-item:hover {
    transform: translate(0px, -7px);
}

.listing-item-horizontal {
    overflow: hidden;
    border: solid #e7e4e4 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.listing-item-pic {
	height: 265px;
    position: relative;
}

.listing-item-horizontal .listing-item-pic {
	height: 230px;
    position: relative;
}

.listing-item-small .listing-item-pic {
	height: 230px;
    position: relative;
}

.listing-item-small .listing-item-pic:before {
    content: "";
    top: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top, rgba(35,35,37,0.2) 0%, rgba(35,35,37,0.3) 35%, rgba(22,22,23,0.1) 60%, rgba(0,0,0,0) 100%);
    background-color: rgba(35,35,37,0.2);
    border-radius: 4px 4px 0 0;
    opacity: 1;
}

.listing-rating i {
    color: #F09D17;
}

.listing-details h2 {
    font-size: 24px;
}

.listing-details a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.listing-details a:hover {
    color: #DB4437;
}

.listing-details-horizontal {
    background-color: #fff;
    z-index: 110;
    padding: 20px!important;
}

.listing-details .location {
    padding-bottom: 10px;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

/* End of Listing Item */

/* Categories Page */

.category-item-pic {
    height: 265px;
    position: relative;
}

.category-item-pic:before {
    content: "";
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top, rgba(35,35,37,0.2) 0%, rgba(35,35,37,0.3) 35%, rgba(22,22,23,0.1) 60%, rgba(0,0,0,0) 100%);
    background-color: rgba(35,35,37,0.2);
    border-radius: 4px 4px 0 0;
    opacity: 1;
}

.category-icon {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.category-icon span {
    display: block;
    text-align: center;
    color: #fff;
}

.category-item {
    margin-top: 30px;
}

.category-icon-icon {
    font-size: 28px;
}

.category-icon-text {
    font-size: 18px;
}

.category-row {
    margin-top: 31px;
}

/* End of Categories Page */

/* Set Background */

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}


/* End of Set Background */

/* Margin and Padding Classes */

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-left-right-30 {
    padding: 0 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}


.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-62 {
    padding-top: 62px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-62 {
    margin-top: 62px;
}

.margin-top-124 {
    margin-top: 124px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

/* End of Margin and Paddings Classes */

/* Search Page */

.search-container {
    height: calc(100vh - 62px);
    padding-top: 62px;
}

.search {
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #d3d2d2;
}

.copyrights {
    color: #707070;
    border-top: 1px solid #d3d2d2;
    text-align: center;
    padding: 30px 0;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    font-size: 15px;
}

.layout-switcher {
    padding-top: 5px;
    padding-bottom: 5px;
}

.layout-switcher a {
    margin-right: 10px;
    border: 1px solid #c7c4c4;
    color: #838282;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
}

.layout-switcher a i {
    padding-top: 1px;
}

.layout-switcher .active {
    border: 1px solid #DB4437;
    color: #DB4437;
}

#map {
    height: 100%; 
    width: 100%; 
}

.distance-radius a {
    text-decoration: none;
    color: #000;
}

.distance-radius .distanceRangeInput {
    width: 100%;
}

.distance-radius output::after {
    content: ' km';
}

.dropdown-panel {
    position: relative;
    display: inline-block;
}

.dropdown-panel .dropdown-panel-content {
    display: none;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 110;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    border-radius: 4px;
    box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
    padding: 20px 24px;
    overflow-y: auto;
    white-space: normal;
    width: 460px;
}

.search-text {
    padding-left: 31px;
    margin-top: 10px;
}

.sort-by select {
    border: none;
    padding: 5px 10px 5px 10px;
    background-color: #f0f0f0;
    float: right;
    margin-top: 12px;
    border-radius: 5px;
}

.display-map {
    display: flex !important;
}

.collapse-map {
    display: none !important;
}

.map-controls {
    display: none;
}

.map-controls button {
    width: 100%;
    background-color: #DB4437;
    color: #fff;
    border-radius: 0;
}

.map-controls button:hover {
    width: 100%;
    background-color: #DB4437;
    color: #fff;
    border-radius: 0;
}

.show-map {
    width: 50%;
    float: left;
    text-align: center;
    border-right: 1px solid #eee;
}

.hide-map {
    display: inline-block;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 991px) {

    .fs-container {
        padding-top: 57px;
    }

    .sort-listing {
        margin-top: 15px;
    }
    
    .sort-by select {
        float: none;
    }    

}

@media only screen and (max-width: 767px) {

    .map-controls {
        display: block!important;
    }

    .fs-container {
        display: flex;
        flex-flow: column;
    }

    .fs-inner-container {
        display: block!important;
    }

    .map-container {
        width: 100%!important;
        position: static!important;
        order: 1;
        height: 400px!important;
        display: none!important;
    }

    .search-container {
        width: 100%!important;
        order: 2;
        float: none!important;
        height: auto!important;
    }

}

/* End of Search Page */

/* Footer */

.footer {
    background: #880a03;
    color: white;
}
.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: white;
    transition: color 0.2s;
}
.footer .links li a:hover {
    text-decoration: none;
    color: #811D5E;
}
.footer .about-company i {
    font-size: 25px;
}
.footer .about-company a {
    color: white;
    transition: color 0.2s;
}
.footer .about-company a:hover {
    color: #811D5E;
}
.footer .location i {
    font-size: 18px;
}
.footer .copyright p {
    border-top: 1px solid #fff;
}

.footer h4, h2 {
   font-weight: bold;
}

@media only screen and (max-width: 991px) {

    .footer .links {
        padding-bottom: 10px;
    }

    .footer-section h4 {
        padding-top: 10px;
    }

    .footer-section h4 {
        border-top: 1px solid #fff;
    }

}

/* End of Footer */

/* Borders */

.border-none {
    border: none!important;
}

.border-bottom-gray {
    border-bottom: 1px solid #e7e4e4;
}

/* End of Borders */

/* Listing Page */

.contact-information ul li {
    border-bottom: solid 1px #dad7d7;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.listing-hero {
	padding-top: 122px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.listing-hero-icon {
	float: left;
	margin-right: 30px;
}

.listing-hero-text {
	overflow: hidden;
}

.listing-hero-text h2 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
}

.listing-hero-text h2 .category {
    margin: 0;
    padding: 7px 16px;
    position: relative;
    top: -6px;
    font-weight: 500;
}

.listing-hero-text p {
	font-size: 15px;
	color: #E1DEDE;
}

.listing-hero-text p span {
	color: #a8a8a8;
	margin-right: 5px;
}

.listing-hero-widget .listing-hero-widget-rating {
	display: inline-block;
	margin-right: 40px;
	position: relative;
	margin-bottom: 15px;
}

.listing-hero-widget .listing-hero-widget-date {
	display: inline-block;
	margin-right: 40px;
	position: relative;
	margin-bottom: 15px;
}

.listing-hero-widget .listing-hero-widget-rating:before {
    position: absolute;
    right: -27px;
    top: 11px;
    height: 1px;
    width: 4px;
    background: #ffffff;
    content: "";
}

.listing-hero-widget .listing-hero-widget-rating span {
	font-size: 15px;
	color: #F09D17;
	margin-right: -3px;
	display: inline-block;
}

.listing-hero-widget div {
	font-size: 15px;
	color: #E1DEDE;
	display: inline-block;
}

.listing-hero-btns {
	text-align: right;
	padding-top: 85px;
}

.listing-hero-btns .btn {
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
}

.listing-hero-btns .btn.btn-share {
    margin-right: 6px;
    background-color: #FF6F01;
}

.listing-hero-btns .btn.btn-share:hover {
    background-color: #d65d00;
}

.listing-hero-btns .btn.btn-bookmark {
    background-color: #d13628;
}

.listing-hero-btns .btn.btn-bookmark:hover {
    background-color: #b6271a;
}

.listing-hero-btns .btn i {
	margin-right: 5px;
}

.listing-links-container {
    margin: 25px 0 0 0;
    display: block;
}

.comment-body .listing-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.listing-info div ul {
    margin-bottom: 0;
}

.listing-info div ul li i {
    margin-right: 10px;
}

.listing-info div ul li a {
    text-decoration: none;
}

.listing-rating-overview {
    border: 1px solid #e7e4e4;
    border-radius: 5px;
}

.listing-rating-overview .row .col-md-4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.listing-rating-overview .row .col-md-8 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.listing-rating-overview .numerical-rating {
    font-size: 44px;
    font-weight: 400;
    line-height: 1em;
    display: block;
    color: #333;
}

.review-form .listing-rating i {
    font-size: 24px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
}

.review-form .listing-rating {
    margin-bottom: 12px;
}

.listing-rating-overview .progress {
    width: 75%; 
    display: inline-block;
    margin-left: 5px;
}

.listing-opening-hours {
    overflow: hidden;
}

.listing-opening-hours div ul {
    margin-bottom: 0;
}

.listing-opening-hours .time {
    float: right;
}

.listing-amenities ul li {
    margin-right: 75px;
    margin-bottom: 20px;
}

.listing-amenities ul li i {
    margin-right: 5px;
    color: #dd2e1e;
}

.listing-amenities ul {
    display: flex;
    flex-wrap: wrap;
}

#listing-map {
    width: 100%;
    height: 500px;
}

.pricing-list-container h4 {
    background-color: #fff;
    width: 100%;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 10;
    display: block;
    font-weight: 500;
}

.pricing-list-container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.pricing-list-container ul li {
    padding-right: 110px;
}

.pricing-list-container ul li {
    padding: 10px;
    padding-right: 70px;
    position: relative;
}

.pricing-list-container h5 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    color: #333;
}

.pricing-list-container p, .pricing-list-container h5 {
    padding: 0;
    font-size: 15px;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.pricing-list-container p {
    color: #777;
    line-height: 24px;
    margin-top: 3px;
}

.pricing-list-container a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-size: 18px;
}

.pricing-category {
    margin-top: 12px;
}

@media only screen and (max-width: 991px) {

    .listing-hero-btns {
        text-align: left!important;
        padding-top: 0px!important;
    }

    .listing-hero-text h2 .category {
        padding: 7px 16px 7px 0px !important;
    }

}

@media only screen and (max-width: 767px) {

    .rating-bars {
        text-align: center;
    }

}

/* End of Listing Page */

/* Transparent FontAwesome Icons */

.stroke-transparent {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
}

/* End of Transparent FontAwesome Icons */

/* Markup Format */

.text-decoration-none {
    text-decoration: none;
}

.required {
    color: #DB4437;
    font-weight: 400;
    font-size: 20px;
    line-height: 0;
    top: 3px;
    position: relative;
}

.list-style-none {
    list-style: none;
}

.width-100 {
    width: 100%;
}

/* End of Markup Format */