* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

body.home {
    background-color: #f5f5f5;
}

/* Navigation Bar */

.clear-navbar {
    transition:500ms ease;
    background:transparent;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.clear-navbar .nav-item a {
    color: #fff!important;
}

.solid-navbar {
    background-color: #FED800;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.solid-navbar .nav-item a {
    color: #000!important;
}

.clear-navbar .navbar-brand {
    font-family: 'Norican', cursive;
    color: #fff!important;
    font-size: 24px;
}

.solid-navbar .navbar-brand {
    font-family: 'Norican', cursive;
    color: #000!important;
    font-size: 24px;
}

.clear-navbar.scrolled .navbar-brand {
    font-family: 'Norican', cursive;
    color: #000!important;
}

.clear-navbar.scrolled .nav-item a {
    color: #000!important;
}

.clear-navbar.scrolled {
    background:#FED800;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.current a {
    border-bottom: 3px solid #DB4437 !important;
}

.nav-item a:hover {
    border-bottom: 3px solid #DB4437 !important;
}


.btn-addlisting {
    background-color: #811D5E;
    color: #fff;
    border: none;
    border-radius: 50px;
}

.btn-login {
    background-color: #FF6F01;
    color: #fff;
    border: none;
    border-radius: 50px;
}

.btn-addlisting:hover {
    background-color: #631548;
    color: #fff;
}

.btn-login:hover {
    background-color: #e36200;
    color: #fff;
}

.btn-login {
    margin-left: 15px;
}

/* Navigation Bar */

/* Forms */

.form-prompt {
    margin-top: 10px;
}

.registration-form .form-row {
    padding: 0px;
}

.btn-submit {
    background-color: #FF6F01;
    color: #fff;
    border: none;
}

.btn-submit:hover {
    background-color: #e36200;
    color: #fff;
}

.login-form {
    margin-top: 112px;
}

.registration-form {
    margin-top: 112px;
}

/* Forms */

/* Headers */

.masthead-home {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/city-scape-dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.search-field {
    padding: 10px;
}

.btn-search {
    background: #FF6F01;
    border: none;
    color: #fff;
    height: 38px;
}

.btn-search:hover {
    background: #E36200;
    cursor: pointer;
    color: #fff;
    border: none;
}

.masthead-home .form-row {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;   
}

.masthead-home .form-group {
    margin-bottom: 0rem;
}

.btn-search {
    width: 100%;
}

.header-text {
    color: #fff;
}

.header-text h1 {
    font-size: 44px;
    font-weight: 500;
}

.header-text p {
    font-size: 20px;
    font-weight: 400px;
}

.form-search-wrap .form-control {
    height: 43px;
    border-radius: 0;
}

.form-search-wrap .form-control:active, .form-search-wrap .form-control:focus {
    border-color: #00918e;
}

.form-search-wrap .form-control:hover, .form-search-wrap .form-control:active, .form-search-wrap .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.form-search-wrap {
    background: #fff;
    padding: 10px !important;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.2); 
}

.form-search-wrap .form-control {
    border: none; 
}

.form-search-wrap .btn {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #FF6F01;
    border: none;
}

.form-search-wrap .btn:hover {
    background-color: #E36200;
}

.category-tags {
    margin-top: 20px;
}

.category-tags a {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	padding: 6px 15px 3px;
	border-radius: 50px;
	margin-right: 6px;
    margin-bottom: 10px;
    text-decoration: none;
}

.category-tags a:hover {
	color: #fff;
	background: #811D5E;
}

.typed-words {
    color: #d13628;
}

/* Headers */

/* Social Media Icons */

form .fab {
  padding: 8px;
  border-radius: 50%;
}

form .fab:hover {
    opacity: 0.7;
}

form .fa-facebook {
    background: #3B5998;
    color: white;
}

form .fa-twitter {
    background: #55ACEE;
    color: white;
}

form .fa-google {
    background: #DB4437;
    color: white;
}

.footer-social-icons {
    letter-spacing: 5px;
}

.share-social-icons i{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 4px;
}

.share-social-icons .fa-facebook-f {
    background: #3B5998;
    color: #fff;
}

.share-social-icons .fa-google {
    background: #DB4437;
    color: #fff;
}

.share-social-icons .fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.share-social-icons .fa-linkedin {
    background: #0e76a8;
    color: #fff;
}

.share-social-icons .fa-whatsapp {
    background: #25d366;
    color: #fff;
}

.share-social-icons .fa-facebook-f:hover {
    background: #31497c;
    color: #fff;
}

.share-social-icons .fa-google:hover {
    background: #c53e31;
    color: #fff;
}

.share-social-icons .fa-twitter:hover {
    background: #4590c9;
    color: #fff;
}

.share-social-icons .fa-linkedin:hover {
    background: #0c6892;
    color: #fff;
}

.share-social-icons .fa-whatsapp:hover {
    background: #1daa51;
    color: #fff;
}

/* Social Media Icons */

/* Sections */

.page-section {
	margin-top: 56px;
}

.home-page-section {
	margin-top: 56px;
}

.page-section-no-banner {
	margin-top: 112px;
	border-radius: 5px;
}

.top-businesses-tab {
	text-align: center;
	border-bottom: 2px solid #e1e1e1;
	margin-bottom: 25px;
}

.top-businesses-tab .nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.top-businesses-tab .nav-tabs {
	border-bottom: none;
}

.top-businesses-tab .nav-tabs .nav-item {
	margin-bottom: 0;
	margin-right: 40px;
}

.top-businesses-tab .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.top-businesses-tab .nav-tabs .nav-link {
	font-size: 15px;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #a8a8a8;
	padding: 0 10px;
	position: relative;
}

.top-businesses-tab .nav-tabs .nav-link:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 100%;
	background: #FD2F24;
	content: "";
	opacity: 0;
}

.top-businesses-tab .nav-tabs .nav-link.active {
	color: #FD2F24!important;
}

.top-businesses-tab .nav-tabs .nav-link.active:after {
	opacity: 1;
}

.top-businesses-tab .nav-tabs .nav-link span {
	margin-right: 3px;
}

/* Sections */

/* Listing Item */

.listing-item {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.listing-item-pic {
	height: 260px;
	position: relative;
}

.listing-item-pic img {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 30px;
	bottom: -30px;
	border-radius: 50%;
}

.listing-item-text {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
}

.listing-item-text-inside a {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
    margin-bottom: 6px;
    text-decoration: none;
}

.listing-item-text-inside ul {
	margin-bottom: 20px;
}

.listing-item-text-inside ul li {
	font-size: 15px;
	color: #323232;
	list-style: none;
	line-height: 25px;
	position: relative;
	padding-left: 25px;
}

.listing-item-text-inside ul li span {
	color: #A8A8A8;
	position: absolute;
	left: 0;
	top: 5px;
}

.listing-item-text-rating {
	overflow: hidden;
	margin-bottom: 15px;
}

.listing-item-text-rating .listing-item-text-rating-star {
	float: left;
}

.listing-item-text-rating .listing-item-text-rating-star span {
	font-size: 14px;
	color: #F09D17;
	margin-right: -3px;
}

.listing-item-text-rating .listing-item-text-rating-star span:last-child {
	margin-right: 0;
}

.open-closed {
	float: right;
	font-size: 14px;
	color: #50D437;
	font-weight: 700;
	padding-top: 4px;
}

.open-closed.closed {
	color: #FD2F24;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

/* Listing Item */

/* Footer */

.footer {
    background: #880a03;
    color: white;
    margin-top: 56px;
}
.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: white;
    transition: color 0.2s;
}
.footer .links li a:hover {
    text-decoration: none;
    color: #811D5E;
}
.footer .about-company i {
    font-size: 25px;
}
.footer .about-company a {
    color: white;
    transition: color 0.2s;
}
.footer .about-company a:hover {
    color: #811D5E;
}
.footer .location i {
    font-size: 18px;
}
.footer .copyright p {
    border-top: 1px solid #fff;
}

.footer h4, h2 {
   font-weight: bold;
}

/* Footer */

/* If the screen size is 991px wide or less */

@media only screen and (max-width: 991px) {

    .btn-login {
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .btn-addlisting {
        border-radius: 5px;
    }

    .clear-navbar {
        background-color: #FED800;
    }

    .clear-navbar .nav-item a {
        color: #000!important;
    }
    
    .clear-navbar .navbar-brand {
        color: #000!important;
    }

    .clear-navbar .current a {
        border-bottom: none!important;
    }

    .solid-navbar .current a {
        border-bottom: none!important;
    }
    
    .clear-navbar .nav-link:hover {
        border-bottom: none!important;
    }

    .footer .links {
        padding-bottom: 10px;
    }

    .footer-section h4 {
        padding-top: 10px;
    }

    .footer-section h4 {
        border-top: 1px solid #fff;
    }

    .page-section-top {
        margin-top: 112px;
    }
    
    .home-page-section {
        margin-top: 0px;
    }
    
    .top-businesses {
        margin-top: 56px;
    }
	
	.page-section-side {
		margin-top: 56px;
	}

    .login-form {
        margin-top: 56px;
    }
    
    .registration-form {
        margin-top: 56px;
    }

    .form-search-wrap {
        background: none; 
        padding: 0!important;
    }
    
    .form-search-wrap .border-right {
        border: 0!important;
    }
    
    .form-search-wrap .input {
        margin-bottom: 10px;
    }
    
    .form-search-wrap .input input {
        border-radius: 5px;
    }
    
    .form-search-wrap .input select {
        border-radius: 5px;
    }

    .form-search-wrap .btn {
        border-radius: 30px;
        padding: 10px 30px;
        background-color: #FF6F01;
        border: none;
        width: 100%;
    }
    

}

/* If the screen size is 991px wide or less */

/* If the screen size is 992px wide or more */

@media only screen and (min-width: 992px) {

    #search-bar {
        display: none;
    }

}

/* If the screen size is 992px wide or more */

/* If the screen size is 767px wide or less */

@media only screen and (max-width: 767px) {

    .masthead-home .form-group .input-group {
        margin-bottom: 1rem;
    }    

}

/* If the screen size is 767px wide or less */

/* If the screen size is 575px wide or less */

@media only screen and (max-width: 575px) {

    .top-businesses-tab .nav-tabs .nav-item {
        margin-right: 0;
        text-align: left;
	}

	.page-section-top {
		margin-top: 56px;
	}

	.page-section {
		border-radius: 0px;
	}

}

/* If the screen size is 575px wide or less */

/*---------------------
  Blog
-----------------------*/

.blog-item-pic {
	height: 300px;
	position: relative;
	display: flex;
}

.blog-post-pic {
	height: 400px;
	position: relative;
	display: flex;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.categories-widget ul {
    list-style: none;
    margin-bottom: 0;
}

.categories-widget ul li {
    border-bottom: solid 1px #b3b3b3;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.categories-widget ul li a {
    text-decoration: none;
    color: #000;
}

.categories-widget ul li a:hover {
    color: #db1897;
}

.blog-tags span {
    font-weight: bold;
    margin-right: 5px;
}

.blog-tags a {
	font-size: 12px;
	color: #a8a8a8;
	font-weight: 700;
	display: inline-block;
	padding: 6px 15px 3px;
	background: #f2f2f2;
	border-radius: 2px;
	margin-right: 6px;
    margin-bottom: 10px;
    text-decoration: none;
}

.blog-tags a:hover {
	color: #fff;
	background: #811D5E;
}

.btn-read-more {
    background-color: #FF6F01;
    color: #fff;
}

.btn-read-more:hover {
    background-color: #e36200;
    color: #fff;
}

.btn-submit-comment {
    background-color: #FF6F01;
    color: #fff;
}

.btn-submit-comment:hover {
    background-color: #e36200;
    color: #fff;
}

.stroke-transparent {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
   }